<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Send Money Form</h1>
<hr>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/transaction/create}" th:object="${transaction}" method="post">
    <table>
        <tr>
            <td>Account Number</td>
            <td>
                <select th:field="*{account}">
                    <option th:each="account:${accounts}" th:value="${account.id}" th:text="${account.id}"></option>
                </select>
            </td>
        </tr>

            <td>Amount</td>
            <td><input type="text" th:field="*{amount}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Send"></td>
        </tr>
    </table>

</form>
</body>
</html>