<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction Listing</title>
</head>
<body>
<table>
    <thead>
        <th>id</th>
        <th>amount</th>
        <th>time</th>
        <th>type</th>
        <th>acount_id</th>
    </thead>
    <tbody>
        <tr th:each="transation:${transactions}">
            <td th:text="${transation.id}"></td>
            <td th:text="${transation.amount}"></td>
            <td th:text="${transation.time}"></td>
            <td th:text="${transation.type}"></td>
            <td th:text="${transation.account.id}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>